* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Goldman", regular;
}
body {
  background-position: center;
  background-size: cover;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer {
  background: #00a8c7;
  height: 10vh;
}

p {
  color: white;
}
p {
  font-size: 2rem;
}
.title {
  color: limegreen;
  font-weight: bold;
}
section {
  width: 100vw;
  height: 100vh;
}
.picture {
  size: 2rem;
}
.hacker {
  background-image : url("./img/hacker_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


